{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mono - Responsive Admin & Dashboard Template</title>
    <!-- theme meta -->
    <meta name="theme-name" content="mono" />

    <!--Put all CSS refference here-->
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto"
      rel="stylesheet"
    />
    <link
      href="{% static 'plugins/material/css/materialdesignicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'plugins/simplebar/simplebar.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'plugins/Datatables/datatables.min.css' %}"
      rel="stylesheet"
    />
    <link
      id="main-css-href"
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" />

    <style>
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .left-col {
        flex: 1;
        text-align: left;
      }
  
      .center-col {
        flex: 1;
        text-align: center;
      }
  
      .right-col {
        flex: 1;
        text-align: right;
      }
  
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
  
      .page-indicator {
        flex: 1;
        text-align: left;
      }
  
      .pagination-controls {
        flex: 1;
        text-align: right;
      }
    </style>
  </head>
  <body class="navbar-fixed sidebar-fixed" id="body">
    <div class="wrapper">
      <div id="Sidebar">
        {% include '_sideNav.html'%}
        <!-- this is partial view. we can refference it through out so that we dont need it to type always-->
      </div>
      <div class="page-wrapper">
        {% include '_header.html'%}
        <!-- this is partial view. we can refference it through out so that we dont need it to type always-->

        <div class="content-wrapper">
          <div class="content">
            <!--Start here your content for the page-->
            {% comment %} TO use the table, copy the table initialization in the script and the css on the top {% endcomment %}
            <h1>Transaction History</h1>
            <br>
            <table
              id="transactionhistory"
              class="table table-hover table-product w-100 table-striped mt-5"
            >
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Title</th>
                  <th>ISBN</th>
                  <th>Borrowed</th>
                  <th>Due Date</th>
                  <th>Returned</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0001</td>
                  <td>Book Title</td>
                  <td>1111111</td>
                  <td>2024-20-06; 8:00</td>
                  <td>2024-22-06; 16:00</td>
                  <td>2024-21-06; 12:00</td>
                </tr>
                <tr>
                  <td>0002</td>
                  <td>Book Title</td>
                  <td>1112311</td>
                  <td>2024-20-06; 12:00</td>
                  <td>2024-01-07; 16:00</td>
                  <td>2024-23-06; 10:00</td>
                </tr>
                <tr>
                  <td>0003</td>
                  <td>Book Title</td>
                  <td>212311</td>
                  <td>2024-10-06; 8:00</td>
                  <td>2024-15-06; 08:00</td>
                  <td>2024-13-06; 12:00</td>
                </tr>
                <tr>
                  <td>0004</td>
                  <td>Book Title</td>
                  <td>7129111</td>
                  <td>2024-15-06; 14:00</td>
                  <td>2024-18-06; 16:00</td>
                  <td>2024-16-06; 7:00</td>
                </tr>
                <tr>
                  <td>0005</td>
                  <td>Book Title</td>
                  <td>2310011</td>
                  <td>2024-22-06; 10:00</td>
                  <td>2024-20-08; 16:00</td>
                  <td>2024-20-07; 12:00</td>
                </tr>
                <tr>
                  <td>0001</td>
                  <td>Book Title</td>
                  <td>1111111</td>
                  <td>2024-20-06; 8:00</td>
                  <td>2024-22-06; 16:00</td>
                  <td>2024-21-06; 12:00</td>
                </tr>
                <tr>
                  <td>0002</td>
                  <td>Book Title</td>
                  <td>1112311</td>
                  <td>2024-20-06; 12:00</td>
                  <td>2024-01-07; 16:00</td>
                  <td>2024-23-06; 10:00</td>
                </tr>
                <tr>
                  <td>0003</td>
                  <td>Book Title</td>
                  <td>212311</td>
                  <td>2024-10-06; 8:00</td>
                  <td>2024-15-06; 08:00</td>
                  <td>2024-13-06; 12:00</td>
                </tr>
                <tr>
                  <td>0004</td>
                  <td>Book Title</td>
                  <td>7129111</td>
                  <td>2024-15-06; 14:00</td>
                  <td>2024-18-06; 16:00</td>
                  <td>2024-16-06; 7:00</td>
                </tr>
                <tr>
                  <td>0005</td>
                  <td>Book Title</td>
                  <td>2310011</td>
                  <td>2024-22-06; 10:00</td>
                  <td>2024-20-08; 16:00</td>
                  <td>2024-20-07; 12:00</td>
                </tr>
                <tr>
                  <td>0001</td>
                  <td>Book Title</td>
                  <td>1111111</td>
                  <td>2024-20-06; 8:00</td>
                  <td>2024-22-06; 16:00</td>
                  <td>2024-21-06; 12:00</td>
                </tr>
                <tr>
                  <td>0002</td>
                  <td>Book Title</td>
                  <td>1112311</td>
                  <td>2024-20-06; 12:00</td>
                  <td>2024-01-07; 16:00</td>
                  <td>2024-23-06; 10:00</td>
                </tr>
                <tr>
                  <td>0003</td>
                  <td>Book Title</td>
                  <td>212311</td>
                  <td>2024-10-06; 8:00</td>
                  <td>2024-15-06; 08:00</td>
                  <td>2024-13-06; 12:00</td>
                </tr>
                <tr>
                  <td>0004</td>
                  <td>Book Title</td>
                  <td>7129111</td>
                  <td>2024-15-06; 14:00</td>
                  <td>2024-18-06; 16:00</td>
                  <td>2024-16-06; 7:00</td>
                </tr>
                <tr>
                  <td>0005</td>
                  <td>Book Title</td>
                  <td>2310011</td>
                  <td>2024-22-06; 10:00</td>
                  <td>2024-20-08; 16:00</td>
                  <td>2024-20-07; 12:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        {% include "_footer.html" %}
        <!-- this is partial view. we can refference it through out so that we dont need it to type always-->
      </div>
    </div>

    <!-- Put all js refference here-->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/simplebar/simplebar.min.js' %}"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script src="{% static 'plugins/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-us-aea.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/Datatables/datatables.min.js' %}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'plugins/toaster/toastr.min.js' %}"></script>
    <script src="{% static 'js/mono.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

<script>
  $(document).ready(function () {
    $("#transactionhistory").DataTable({
      language: {
        lengthMenu: "Display _MENU_ records",
      },
      dom: '<"top"<"left-col"l><"center-col"B><"right-col"f>>rt<"bottom"<"page-indicator"i><"pagination-controls"p>>',
      buttons: ["excel", "pdf", "print"],
    });
  });
</script>