{% load static %}
<aside class="left-sidebar sidebar-dark" id="left-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="">
                <img src="{% static "images/logo.png" %}" alt="Mono" />
                <span class="brand-name">MONO</span>
            </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="sidebar-left" data-simplebar style="height: 100%;">
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="active">
                    <a class="sidenav-item-link" href="index.html">
                        <i class="mdi mdi-briefcase-account-outline"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="section-title">
                    Books
                </li>
                <li>
                    <a class="sidenav-item-link" href="chat.html">
                        <i class="mdi mdi-wechat"></i>
                        <span class="nav-text">Book Browsing</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href="contacts.html">
                        <i class="mdi mdi-phone"></i>
                        <span class="nav-text">Book Processing</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href="team.html">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Book Registration</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href={% url 'transactionhistory' %}>
                        <i class="mdi mdi-calendar-check"></i>
                        <span class="nav-text">Transaction History</span>
                    </a>
                </li>
                <li class="section-title">
                    User
                </li>
                <li>
                    <a class="sidenav-item-link" href="calendar.html">
                        <i class="mdi mdi-calendar-check"></i>
                        <span class="nav-text">Bag</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href="calendar.html">
                        <i class="mdi mdi-calendar-check"></i>
                        <span class="nav-text">Profile</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href={% url 'timeintimeout' %}>
                        <i class="mdi mdi-calendar-check"></i>
                        <span class="nav-text">In/Out History</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>